body {
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 100%;
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.grid-container__item {
    border: 1px solid black;
    font-size: xxx-large;
}

.col-1 {
    background-color: violet;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.col-2 {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.col-3 {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.col-4 {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

@media all and (max-width: 720px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
  
@media all and (max-width: 360px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

